/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    
}
body{
    font-family: sans-serif;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: black;
    border-radius: 5px;

 
}
